body {
    background-image: url(../jpg/background.jpg);
    background-repeat: repeat;
}
.container {
    width: 90rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
    /* align-items: center; */
    margin: auto;
}

.container-power {
    position: relative;
    width: 109.125rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin: auto;
    padding: auto;
}
ul li {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #311D13; 
}

input {
    outline: none;
    border: none;
}

button {
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    font-family: "Fira Sans Medium", sans-serif;
    color: white;
    background: #F39F0F;
    font-size: 1.25rem;
    border-radius: 1rem;
    padding: 1.4rem 2.4rem;
}

select {
    background-image: url(../svg/arrow.svg);
    background-repeat: no-repeat;
    background-color: #F6E9D6;
    background-position: calc(100% - 15px) center;
    color:#311D13;
    border-radius: 1rem;
    font-size: 1.125rem;
    padding: 0.8rem 1.3rem;
    outline: none;
    border: none;
    appearance: none;
}

  select option:checked {
    color: #F6E9D6;
    background-color: #655132;
  }

::placeholder {
    color:#655132;
}

::selection {
    background: #f8c66e;
}

@media (max-width: 68rem) {
    .container {
        width: 68rem;
    }

    button {
      font-size: 0.9rem;
      padding: 1rem 1.4rem;
    }
}

@media (max-width: 20rem) {
    .container {
        width: 20rem;
    }
    
    button {
    font-size: 0.3rem;
    padding: 0.4rem 1.3rem;
    border-radius: 0.4rem;
    }

    select {
        background-image: url(../svg/arrow-mob.svg);
        border-radius: 0.5rem;
        font-size: 0.5rem;
        padding: 0.4rem 0.8rem;
    }
}