@import url(style.css);

/* База */
body {
    background-image: url(../jpg/wood.jpg);
    background-repeat: repeat;
}

.footer {
    color: #F6E9D6;
}

.container__footer {
    border-top: 3px dashed #F6E9D6;
}

/* Модальное окно */
.overlay-modal {
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.overlay-modal.open {
    visibility: visible;
    opacity: 1;
}

/* База настроек */
.modal-setting {
    display: flex;
    flex-direction: column;
    padding: 1.3rem 3rem 3rem 3.3rem;
    margin-top: 7rem;
    transform: scale(0.9);
}

.modal-setting::-webkit-scrollbar {
   display: none;      
}

.overlay-modal.open .modal-setting{
    transform: scale(1);
    transition: transform .8s;
}

.modal-setting__content {
    display: flex;
    flex-direction: column;
}

.modal-setting__content-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content-head__title {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Podkova Regular", sans-serif;
}

.content-head__close {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    background-color: #1D6829;
    border-radius: 100%;
    width: 3.125rem;
    height: 3.125rem;
    padding: 0;
    cursor: pointer;
}

.content-head__close:hover,
.content-head__close:focus {
    background: #0f521c;
}

.content-head__close-icon {
    width: 1.6rem;
    height: 1.6rem;
    transform: rotate(45deg);
    transform-origin: center center;
}

.modal-setting__content-sections {
    display: flex;
    justify-content: space-between;
    width: 20.3rem;
    margin-bottom: 1.5rem;
}

.content-sections__item {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Podkova Regular", sans-serif;
    padding: 1rem 0;
    cursor: pointer;
    transition: 0.3s;
    animation: fadeIn 0.4s;
    transition: 0.3s;
}

.content-sections__item:hover {
    transform: scale(1.2);
}

.content-sections__item.active {
    transform: none;
    border-bottom: 5px solid #1D6829;
}

.content-sections__item.active:hover {
    transform: none;
}

.modal-setting__content-settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 36.3rem;
}

/* Настройки профиля */
.content-settings__profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.4s;
    transition: 0.3s;
}

.profile__background {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 26.3rem;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    border: 2px dashed #311D13;
}

.profile__background-button {
    height: 3.5rem;
    position: absolute;
    background-color: #1D6829;
    z-index: 3;
}

.profile__background-button:hover {
    background: #0f521c;
}

.profile__background-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.41) 0%, rgba(0, 0, 0, 0.00) 24.49%);
    z-index: 2;
}

.profile__background-img {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover; 
    z-index: 1;
}

.profile__avatar {
    display: flex;
    justify-content: center;
    width: 36.3rem;
    position: absolute;
    z-index: 2;
    margin-top: -13rem;
}

.profile__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 12.2rem;
    height: 12.2rem;
    border-radius: 100%;
    border: 4px dashed #F6E9D6;
    overflow: hidden;
}

.profile__avatar-img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.profile__info {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.profile__button {
    align-self: center;
    background-color: #1D6829;
}

.profile__button:hover {
    background: #0f521c;
}

.profile__input {
    width: 22rem;
    height: 2rem;
    border-radius: 1rem;
    color: #311D13; 
    font-size: 1rem;
    padding: 1rem 1.25rem;
    background: #F2DBBA;
    margin: 2rem 0 0.5rem 0;
}

.profile__desc {
    width: 22rem;
    height: 10rem;
    border-radius: 1rem;
    color: #311D13; 
    font-size: 1rem;
    padding: 1rem 1.25rem;
    background: #F2DBBA;
    margin: 0.5rem 0 2.5rem 0;
    resize: none;
}

/* Настройки безопасности */
.content-settings__security {
    display: none;
    flex-direction: column;
    animation: fadeIn 0.4s;
    transition: 0.3s;
}

.security__title {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Podkova Regular", sans-serif;
    margin: 0;
}

.security-form__password,
.security-form__email-new {
    width: 22rem;
    height: 2rem;
    border-radius: 1rem;
    color: #311D13; 
    font-size: 1.2rem;
    padding: 1rem 1.25rem;
    background: #F2DBBA;
    margin:  0.63rem 0;
}

.security__email {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: "Podkova Regular", sans-serif;
    margin:  0.63rem 0;
}

.security__button {
    margin-top: 2rem;
    align-self: flex-end;
    background-color: #1D6829;
}

.security__button:hover {
    background: #0f521c;
}

/* main */
.main-blog {
    display: flex;
    justify-content: space-between;
    padding: 6.7rem 8rem;
}

/* Профиль */
.main-blog__profile {
    display: flex;
    flex-direction: column;
    width: 36rem;
    margin-right: 2.5rem;
}

.main-blog__sticky {
    display: inline-flex;
    flex-direction: column;
    position: sticky;
    top: 7rem;
}

/* user */
.main-blog__profile-user {
    display: flex;
    flex-direction: column;
    background-color: #F6E9D6;
    border-radius: 1rem;
    margin-bottom: 2rem;
    box-shadow: 
    2px 2px 7px 0px rgba(0, 0, 0, 0.20), 
    10px 9px 13px 0px rgba(0, 0, 0, 0.17), 
    22px 20px 18px 0px rgba(0, 0, 0, 0.10), 
    38px 36px 21px 0px rgba(0, 0, 0, 0.03), 
    60px 56px 23px 0px rgba(0, 0, 0, 0.00);
}

.profile-user__background {
    display: flex;
    width: 100%;
    height: 26.3rem;
    position: relative;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
}

.profile-user__background-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.41) 0%, rgba(0, 0, 0, 0.00) 24.49%);
    z-index: 2;
}

.profile-user__background-img {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover; 
    z-index: 1;
}

.profile-user__avatar {
    display: flex;
    justify-content: center;
    width: 36rem;
    position: absolute;
    z-index: 2;
    margin-top: 22rem;
}

.profile-user__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 8.3rem;
    height: 8.3rem;
    border-radius: 100%;
    border: 4px dashed #F6E9D6;
    overflow: hidden;
}

.profile-user__avatar-img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.profile-user__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 36rem;
    margin-top: 4.7rem;
}

.profile-user__info-name {
    font-family: "Podkova Regular", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

.profile-user__info-desc {
    margin: 0.4rem 0;
}

.profile-user__buttons {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0 2.5rem 0;
}

.profile-user__button-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1D6829;
    border-radius: 1rem;
    padding: 0;
    width: 4.4rem;
    height: 4.4rem;
    margin: 0 0.3rem;
}

.profile-user__button-main:hover {
    background: #0f521c;
}

.profile-user__button-icon {
    width: 2.2rem;
    height: 2.3rem;
}

.profile-user__button {
    background: #1D6829;
    margin: 0 0.3rem;
}

.profile-user__button:hover {
    background: #0f521c;
}

/* subs */
.main-blog__profile-sub {
    display: flex;
    flex-direction: column;
    background-color: #F6E9D6;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 
    2px 2px 7px 0px rgba(0, 0, 0, 0.20), 
    10px 9px 13px 0px rgba(0, 0, 0, 0.17), 
    22px 20px 18px 0px rgba(0, 0, 0, 0.10), 
    38px 36px 21px 0px rgba(0, 0, 0, 0.03), 
    60px 56px 23px 0px rgba(0, 0, 0, 0.00);
}

.profile-sub__title {
    display: flex;
    justify-content: space-between;
    width: 7.8rem;
    font-family: "Podkova Regular", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
}

.profile-sub__title-typ {
    margin-bottom: 0.3rem;
}

.profile-sub__title-value {
    color: #655132;
    margin-bottom: 0.3rem;
}

.profile-sub__blogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.profile-sub__blog {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 16rem;
    margin: 0.5rem 0;
}

.blog__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 100%;
    overflow: hidden;
}

.blog__avatar {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.blog__name {
    font-family: "Podkova Regular", sans-serif;
    margin: 0  0.5rem 0  0.9rem;
}

/* Контент */
.main-blog__content {
    display: flex;
    flex-direction: column;
}

.main-blog__content-recepts {
    display: flex;
    flex-direction: column;
    border-bottom: 0.2rem dashed #F6E9D6;
    padding-bottom: 3.5rem;
}

.recepts__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
    flex-wrap:wrap;
}

.recepts__title {
    color: #F6E9D6;
    font-family: "Podkova Regular", sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    margin: 0.5rem 0;
}

.recepts__button {
    background: #1D6829;
    align-self: center;
    justify-content: center;
}

.recepts__button:hover {
    background: #0f521c;
}

.main-blog__content-compilations {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.compilations__title {
    color: #F6E9D6;
    font-family: "Podkova Regular", sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    margin: 0.5rem 0;
}

.compilations__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
    flex-wrap:wrap;
}

.compilations__button {
    background: #1D6829;
    align-self: center;
    justify-content: center;
}

.compilations__button:hover {
    background-color: #0f521c;
}


/* Модули*/

.recipe-modul {
    display: flex;
    width: 17rem; 
    height: 18rem;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 2rem;
}

.compil-modul {
    display: flex;
    width: 36rem; 
    height: 18rem;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 2rem;
}

.recipe-module__image {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.compil-module__image {
    position: absolute;
    background-size: cover;
    width: 24rem;
    height: 18rem;
    z-index: -2;
}

.comil-module__image-2 {
    position: absolute;
    background-size: cover;
    width: 13rem;
    height: 9rem;
    left: 24rem;
    z-index: -2;
}

.comil-module__image-3 {
    position: absolute;
    background-size: cover;
    width: 13rem;
    height: 9rem;
    left: 24rem;
    bottom: 9rem;
    z-index: -2;
}

.recipe-module__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#00000000, #000000);
    z-index: -1;
}

.recipe-module__content {
    width: auto;
    height: 7rem;
    color:white;
    padding: 1.25rem;
}

.recipe-block__tegs {
    display: flex;
    padding: 0;
}

.recipe-block__tegs-item {
    font-family: "Podkova Regular", sans-serif;
    font-size: 0.87rem;
    margin: 0 0.2rem;
}

.recipe-block__tegs-a {
    color:white;    
}

.recipe-block__chapter {
    width: 21rem;
    height: auto;
    vertical-align: top;
    font-size: 1.25rem;
    margin: 0;
}

.recipe-block__user {
    font-size: 0.75rem;
}

@media (max-width: 68rem) {
    .main-blog {
        padding: 6.2rem 1.25rem 2rem 1.25rem;
    }

    .main-blog__profile {
        width: 31rem;
        margin-right: 3.5rem;
    }

    .profile-user__background {
        height: 30.3rem;
    }

    .profile-user__avatar {
        width: 31rem;
        margin-top: 26rem;
    }

    .profile-user__info {
        width: 31rem;
    }

    .profile-user__button-main {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1D6829;
        border-radius: 1rem;
        padding: 0;
        width: 3.5rem;
        height: 3.5rem;
        margin: 0 0.3rem;
    }
    
    .profile-user__button-icon {
        width: 2rem;
        height: 2.1rem;
    }
    
    .profile-user__button {
        height: 3.5rem;
        font-size: 1.1rem;
    }

    .main-blog__profile-sub {
        padding: 1.5rem;
        top: 58rem;
    }

    .profile-sub__blog {
        width: 13.5rem;
        margin: 0.5rem 0;
    }
    
    .blog__circle {
        width: 3.75rem;
        height: 3.75rem;
    }

    .blog__name {
        font-size: 0.9rem;
        margin: 0  0.3rem 0  0.5rem;
    }

    .recipe-modul {
        width: 14rem; 
        height: 15rem;
    }
    
    .compil-modul {
        width: 31rem; 
        height: 15rem;
    }
    
    .compil-module__image {
        width: 20rem;
        height: 15rem;
    }
      
    .comil-module__image-2 {
        position: absolute;
        background-size: cover;
        width: 10rem;
        height: 7.5rem;
        left: 20rem;
        z-index: -2;
    }
      
    .comil-module__image-3 {
        position: absolute;
        background-size: cover;
        width: 10rem;
        height: 7.5rem;
        left: 20rem;
        bottom: 7.5rem;
        z-index: -2;
    }
    
    .recipe-module__content {
        width: auto;
        height: 5rem;
        color:white;
    }
    
    .recipe-block__tegs {
        display: flex;
        padding: 0;
        margin: 0;
    }

    .recepts__button {
        font-size: 1rem;
        height: 3.6rem;
    }

    .compilations__button {
        font-size: 1rem;
        height: 3.6rem;
    }
}

@media (max-width: 380px) {
    .modal-setting {
        max-width: 100%;
        padding: 1.25rem;
        margin-top: 5rem;
        border-radius: 0.5rem;
    }

    .modal-setting__content-settings {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 17.5rem;
    }

    .content-head__title {
        font-size: 1.6rem;
        margin: 0.4rem 0;
    }

    .content-head__close {
        width: 2rem;
        height: 2rem;
    }

    .content-head__close-icon {
        width: 1.1rem;
        height: 1.1rem;
    }

    .modal-setting__content-sections {
        width: 14rem;
        margin-bottom: 1rem;
    }

    .content-sections__item {
        font-size: 1.1rem;
        padding: 1rem 0;
    }



    .content-sections__item.active {
        border-bottom: 3px solid #1D6829;
    }

    .profile__background {
        height: 10.3rem;
        border-radius: 0.5rem;
    }

    .profile__background-button {
        height: 2.1rem;
        z-index: 3;
        font-size: 0.6rem;
    }

    .profile__avatar {
        width: 17.5rem;
        position: absolute;
        z-index: 2;
        margin-top: -18rem;
    }

    .profile__circle {
        width: 6.25rem;
        height: 6.25rem;
        border: 3px dashed #F6E9D6;
    }

    .profile__info {
        margin-top: 4.5rem;
    }

    .profile__button {
        font-size: 0.6rem;
        padding:  0.6rem 1.25rem;
    }

    .profile__input {
        align-self: center;
        width: 16rem;
        height: 2rem;
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
        margin: 1.5rem 0 0.6rem 0;
    }

    .profile__desc {
        align-self: center;
        width: 16rem;
        height: 10rem;
        font-size: 0.8rem;
        padding: 1rem;
        background: #F2DBBA;
        margin: 0.5rem 0 1.8rem 0;
        resize: none;
    }

    .security__title {
        font-size: 1.3rem;
    }

    .security-form__password,
    .security-form__email-new {
        width: 15rem;
        height: 1.5rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        padding: 0.8rem 1.25rem;
        margin:  0.55rem 0;
    }

    .security__email {
        font-size: 1rem;
        margin:  0.63rem 0;
    }
    
    .security__button {
        margin-top: 1.4rem;
        align-self: center;
        background-color: #1D6829;
        font-size: 0.8rem;
        padding: 0.7rem 1.5rem;
    }


    .main-blog {
        flex-direction: column;
        justify-content: center;
        /* width: 100%; */
        padding: 4.7rem 1.25rem 3rem 1.25rem;
    }

    .main-blog__profile {
        display: flex;
        flex-direction: column;
        width: 20.75rem;
        margin-right: 0;
    }

    .main-blog__sticky {
        position: static;
    }

    .main-blog__profile-user {
        width: 100%;
        margin-bottom: 2rem;
        border-radius: 0.5rem;
    }

    .profile-user__background {
        height: 12.5rem;
        position: relative;
        overflow: hidden;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .profile-user__avatar {
        display: flex;
        justify-content: center;
        width: 20rem;
        position: absolute;
        z-index: 2;
        margin-top: 10.1rem;
    }
    
    .profile-user__circle {
        width: 4.7rem;
        height: 4.7rem;
        border: 3px dashed #F6E9D6;
    }
    
    .profile-user__info {
        width: 20rem;
        margin-top: 2.75rem;
    }

    .profile-user__info-name {
        font-size: 1.6rem;
    }

    .info-subs__value-type {
        font-size: 0.7rem;
    }

    .info-subs__value {
        font-size: 0.7rem;
    }
    .profile-user__info-desc {
        font-size: 0.7rem;
    }

    .profile-user__buttons {
        margin: 1rem 0 2rem 0;
    }

    .profile-user__button-main {
        border-radius: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;
        margin: 0 0.3rem;
    }
    
    .profile-user__button-icon {
        width: 1.5rem;
        height: 1.6rem;
    }
    
    .profile-user__button {
        font-size: 0.8rem;
        height: 2.5rem;
    }

    .main-blog__profile-sub {
        border-radius: 0.5rem;
    }
    
    .profile-sub__blog {
        width: 14rem;
    }

    .blog__circle {
        width: 3.5rem;
        height: 3.5rem;
    }

    .blog__name {
        font-size: 0.95rem;
    }

    .main-blog__content {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        padding: 0 1.5rem;
        border-top: 0.2rem dashed #F6E9D6;

    }

    .recepts__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 0.5rem;
        flex-wrap:wrap;
    }

    .recepts__title {
        font-size: 1.2rem;
        margin: 1rem 0;
    }

    .recepts__button {
        border-radius: 0.7rem;
    }

    .compilations__button{
        border-radius: 0.7rem;
    }

    /* .recipe-modul {
        width: 8rem; 
        height: 8rem;
        border-radius: 0.7rem;
    }
    
    .compil-modul {
        width: 17.5rem; 
        height: 8rem;
        border-radius: 0.7rem;
    }
    
    .compil-module__image {
        width: 11rem;
        height: 8rem;
    }
      
    .comil-module__image-2 {
        width: 7rem;
        height: 4rem;
        left: 11rem;
    }
      
    .comil-module__image-3 {
        width: 7rem;
        height: 4rem;
        left: 11rem;
        bottom: 4rem;
    }
    
    .recipe-module__content {
        width: auto;
        height: 4rem;
        padding: 0.6rem;
    } */

    .recipe-modul {
        width: 8.5rem;
        height: 8.5rem;
        border-radius: 0.7rem;
    }

    .compil-modul {
        width: 21.5rem;
        height: 8.5rem;
        border-radius: 0.7rem;
    }

    .compil-module__image {
        width: 11rem;
        height: 100%;
    }

    .comil-module__image-2 {
        width: 10rem;
        height: 4.75rem;
        left: 11rem;
    }

    .comil-module__image-3 {
        width: 10rem;
        height: 4.75rem;
        left: 11rem;
        bottom: 4.75rem;
    }

    .recipe-module__content {
        width: auto;
        height: 4rem;
        padding: 0.6rem;
    }

    .recipe-block__tegs-item {
        font-size: 0.4rem;
        margin: 0 0.1rem;
    }
    
    .recipe-block__tegs-item {
        font-size: 0.4rem;
        margin: 0 0.1rem;
    }

    h3 {
        font-size: 0.7rem;
        margin-top: 0.5rem;
    }
}