@import url(style.css);

.container-power {
  position: relative;
  width: 90rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin: auto;
  padding: auto;
  animation:fadeIn 1s;
  z-index: 3;
}

.eat-power {
  width: 48.7rem;
  height: 51.7rem;
  background-image: url(../png/borstch_pc.png);
  background-size: cover;
  position: absolute;
  right: 20rem;
  left: 51rem;
  z-index: 1;
  filter: drop-shadow(362px 228px 120px #000000dd);
  filter: drop-shadow(14px 9px 38px #00000053);
  transition: transform 1s;
}

.eat-power:hover {
  transform: rotate(20deg);
}
.container-product {
    position: relative;
    display: flex;
    width: 100%; 
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin: auto;
    padding: auto;
}

.product-power {
  background-image: url(../png/products_pc.png);
  background-size: cover;
  position: absolute;
  width: 51rem;
  height: 46.2rem;
  left: 39rem;
  filter: drop-shadow(5px 5px 5px #00000075);
}


/*Привествие*/
.hello {
  display: flex;
  height: 40rem;
  background-image: url(../jpg/borstch_pc.png);
  background-size: cover;
}

.hello__content {
  display: flex;
  flex-direction: column;
  width: 37rem;
  height: 17rem;
  /* margin:  */
  margin: 10% 0 0 8rem;
}

.hello__site-name {
  color: #F6E9D6;
  font-size: 4rem;
  margin: 0;
  cursor: pointer;
}

.hello__welcome {
  color: #F6E9D6;
  font-size: 2.5rem;
  font-family: "Podkova Regular", sans-serif;
  margin: 0;
}

.hello__desc {
  color: #F6E9D6;
  font-size: 1.5rem;
  word-wrap: break-word;
  font-family: "Podkova Regular", sans-serif;
  margin: 0;
}

.hello__desc-b {
  color: #F39F0F;
  text-decoration: underline;
}

/*Кнопки*/
.hello__buttons {
  display: flex;
  justify-content: space-between;
  width: 32rem;
  height: 4rem;
  margin-top: 4rem;
}

.hello-button {
  background: #F39F0F;
}

.main-first-button {
  background: #1D6829;
  margin: 0 9rem;
}

.main-first-button:hover {
  background: #0f521c;
}


/*main*/
.main-first {
  display: flex;
  flex-direction: column;
  padding: 2rem 8rem;
}


.main-first__chapter {
  font-size: 2.5rem;
}

.main-first__nav {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}

.main-first__nav-list {
  display: flex;
  height: auto;
  padding: 0;
}

.main-first__nav-item {
  font-family: "Podkova Regular", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0 1.25rem;
  color: #311D13;
  border-left: 1px dashed #311D13;
  border-right: 1px dashed #311D13;
}


.main-first__nav-item:hover .main-first__nav-a{
  color: #1D6829;
  font-weight: bolder;
  transition: 0.5s;
}


.main-first__buttons {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

@media (max-width: 90rem) {
  .container-power {
    width: 90rem;
  }
  .eat-power {
    width: 39.25rem;
    height: 54.4rem;
    background-image: url(../png/borstch_pc2.png);
    left: 51rem;
  } 

  .eat-power:hover {
    transform: none;
  }
}
@media (max-width: 68rem) {
  .container-power {
    width: 68rem;
  }
  .eat-power {
    width: 30rem;
    height: 37.5rem;
    background-image: url(../png/borstch_pad2.png);
    left: 37.92rem;
  }

  .eat-power:hover {
    transform: none;
  }
.product-power {
  background-image: url(../png/products_pad.png);
  position: absolute;
  width: 37.6875rem;
  height: 31.8125rem;
  left: 30rem;
}
  .hello {
    display: flex;
    height: 26.5rem;
    background-image: url(../png/borstch_pad.png);
  }

  .hello__content {
    width: 26rem;
    height: 13rem;
    margin: 6rem 0 0 3rem;
  }

  .hello__site-name {
    font-size: 3rem;
  }

  .hello__welcome {
    color: #F6E9D6;
    font-size: 1.6rem;
  }

  .hello__desc {
    font-size: 1.125rem;
  }

  .hello__buttons {
    display: flex;
    justify-content: space-between;
    width: 22rem;
    height: 3rem;
    margin-top: 2.5rem;
  }

  .main-first {
    padding: 1rem 3rem;
  }

  .main-first__chapter {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .main-first__nav-item {
    font-size: 1rem;
    border-left: 1px dashed #311D13;
    border-right: 1px dashed #311D13;
    padding: 0 0.8rem;
  }

  .main-first__content {
    margin-top: 1rem;
  }

  .main-first__buttons {
    margin: 1rem 0;
  }
}

@media (max-width: 20rem) {
  .eat-power {
    display: none;
    
  }

  .product-power {
    display: none;
  }

  .hello {
    display: flex;
    height: 13rem;
    background-image: url(../png/borstch_mob.png);
  }

  .hello__content {
    width: 26rem;
    height: 13rem;
    margin: 4rem 0 0 1.25rem;
  }

  .hello__site-name {
    font-size: 1.125rem;
    margin-bottom: 0.3rem;
  }

  .hello__welcome {
    font-size: 0.75rem;
    margin-bottom: 0.3rem;
  }

  .hello__desc {
    width: 9.5rem;
    font-size: 0.5rem;
  }

  .hello-button {
    align-self: start;
  }

  .hello__buttons {
    display: flex;
    justify-content: space-between;
    width: 11rem;
    margin-top: 1rem;
  }

  .main-first {
    padding: 1rem 1.25rem;
  }

  .main-first__chapter {
    font-size: 1rem;
    margin: 0;
  }

  .main-first__nav {
    border-bottom: 1px dashed #311D13;
    height: 2rem;
  }

  .main-first__nav-item {
    font-size: 0.5rem;
    border: none;
    padding: 0 0.25rem;
  }

  .main-first__content {
    margin-top: 1rem;
  }

  .main-first__content article {
    margin: 1rem 0;
  }

  #item-4 {
    order: 1;
  }

  #item-7 {
    order: 1;
  }

  #item-11 {
    order: 1;
  }

  #item-13 {
    order: 1;
  }

  .main-first__buttons {
    margin: 0.5rem 0;
  }

  .main-first-button {
    background: #1D6829;
    margin: 0 0.8rem;
  }
}