@import url(style.css);
/* Хедер */
.header {
    background-image: url(../jpg/wood.jpg);
    background-repeat: repeat;
}

/* Создание подборки */
.overlay-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    /* visibility: hidden;
    opacity: 0; */
    transition: opacity .4s, visibility .4s;
}

/* .overlay-modal.open {
    visibility: visible;
    opacity: 1;
} */

.modal-compilate {
    display: flex;
    position: fixed;
    flex-direction: column;
    overflow-y: auto;
    padding: 2rem 1.7rem;
    top: 7rem;
    transform: scale(0.9);
    transform: scale(1);
    transition: transform .8s;
}

/* .overlay-modal.open .modal-compilate{
    transform: scale(1);
    transition: transform .8s;
} */

.modal-compilate__content {
    display: flex;
    flex-direction: column;
}

.modal-compilate__content-head {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.content-head__title {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Podkova Regular", sans-serif;
    margin-top: 0;
}

.content-head__close {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    background-color: #1D6829;
    border-radius: 100%;
    width: 3.125rem;
    height: 3.125rem;
    padding: 0;
    margin-left: 2rem;
}

.content-head__close:hover,
.content-head__close:focus {
    background: #0f521c;
}

.compilate-form {
    display: flex;
    flex-direction: column;
}

.compilate-form__title {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: "Podkova Regular", sans-serif;
    margin: 0 0 0.5rem 0;
}

.compilate-form__name {
    width: 22rem;
    height: 1.5rem;
    border-radius: 1rem;
    color: #311D13; 
    font-size: 1rem;
    padding: 1rem 1.25rem;
    background: #F2DBBA;
    margin-bottom: 0.8rem;
}

.compilate-form__tegs {
    width: 22rem;
    height: 1.5rem;
    border-radius: 1rem;
    color: #311D13; 
    font-size: 1rem;
    padding: 1rem 1.25rem;
    background: #F2DBBA;
    margin-bottom: 0.8rem;
}

.compilate-form__button {
    align-self: flex-end;
    background-color: #1D6829;
    margin-top: 2rem;
}

.compilate-form__button:hover {
    background: #0f521c;
}

/* main */
.main-recept {
    display: flex;
    flex-direction: column;
    padding: 8rem 7.5rem 2rem 7.5rem;
}

.content-head__close-icon {
    width: 1.6rem;
    height: 1.6rem;
    transform: rotate(45deg);
    transform-origin: center center;
}

/* Превью */
.main-recept__preview {
    display: flex;
    height: 50rem;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 3.5rem;
    box-shadow: 
        3px 3px 10px 0px rgba(0, 0, 0, 0.20), 
        13px 12px 18px 0px rgba(0, 0, 0, 0.17), 
        29px 27px 24px 0px rgba(0, 0, 0, 0.10), 
        51px 48px 28px 0px rgba(0, 0, 0, 0.03), 
        80px 75px 31px 0px rgba(0, 0, 0, 0.00);
}   

.main-recept__preview-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#00000000, #000000);
    opacity: 50%;
    z-index: -1;
}

.main-recept__preview-image {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.main-recept__preview-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 11rem;
    color:white;
    padding: 2.5rem;
}

.preview-content__user {
    display: inline-flex;
    align-items: center;
}

.preview-content__user-img{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.preview-content__user-name {
    color:white;
    font-family: "Podkova Regular", sans-serif;
    font-size: 1.4rem;
    margin-left: 1.5rem
}

.preview-content__chapter {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 60rem;
}

/* Описание рецепта */
.main-recept__desc {
    display: flex;
    background-color: #F6E9D6;
    border-radius: 1rem;
    font-size: 1.2rem;
    line-height: 2.2rem;
    padding: 3.5rem 13rem;
    margin-bottom: 3.5rem;
    box-shadow: 
    2px 2px 7px 0px rgba(0, 0, 0, 0.20), 
    10px 9px 13px 0px rgba(0, 0, 0, 0.17), 
    22px 20px 18px 0px rgba(0, 0, 0, 0.10), 
    38px 36px 21px 0px rgba(0, 0, 0, 0.03), 
    60px 56px 23px 0px rgba(0, 0, 0, 0.00);
}

/*Свойства рецепта*/
.main-recept__info {
    display: flex;
    justify-content: space-between;
    background-color:  #F6E9D6;
    border-radius: 1rem;
    padding: 3.5rem 5.6rem;
    margin-bottom: 3.5rem;
    box-shadow: 
    2px 2px 7px 0px rgba(0, 0, 0, 0.20), 
    10px 9px 13px 0px rgba(0, 0, 0, 0.17), 
    22px 20px 18px 0px rgba(0, 0, 0, 0.10), 
    38px 36px 21px 0px rgba(0, 0, 0, 0.03), 
    60px 56px 23px 0px rgba(0, 0, 0, 0.00);
}

.main-recept__info-features {
    display: flex;
}

.info-features__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.info-features__list-item {
    display: flex;
    align-items: center;
}

.list-item__span {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    background-color: #F39F0F;
    border-radius: 100%;
    width: 4.4rem;
    height: 4.4rem;
    padding: 0;
}

.list-item__icon {
    width: 2.7rem;
    height: 2.7rem;
}

.list-item__name {
    font-size: 1.6rem;
    font-family: "Podkova Regular", sans-serif;
    font-weight: bold;
    margin-left: 0.6rem;
}

.list-item__complex {
    display: flex;
    justify-content: space-between;
}
.list-item__complex-span {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    background-color: #1D6829;
    border-radius: 100%;
    width: 3.125rem;
    height: 3.125rem;
    padding: 0;
    margin: 0 0.4rem;
}

.list-item__complex-icon {
    width: 2rem;
    height: 2rem;
}

.list-item__tegs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.list-item__tegs-item {
    display: flex;
    color: white;
    background: #655132;
    border-radius: 1rem;
    padding: 0.7rem 1rem;
    margin: 0 0.3rem;
    transition: 0.3s;
}

.list-item__tegs-item:hover {
    background-color: #311D13;
    animation: pulse 0.3s;
}

/*Ингредиенты*/
.main-recept__info-ingredients {
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.info-ingredients__portions {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.info-ingredients__portions-chapter {
    color: #311D13;
    font-family: "Podkova Regular", sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
}

.info-ingredients__portions-form {
    display: flex;
    align-content: center;
}

.portions-form__input {
    width: 5rem;
    height: 2.5rem;
    background: #F6E9D6;
    border-radius: 0.5rem;
    border: 1px dashed #311D13;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1rem;
}

.portions-form__input::-webkit-outer-spin-button,
.portions-form__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.portions-form__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 3rem;
    margin-left: 0.2rem;
}

.portions-form__button {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #1D6829;
    border-radius: 100%;
    padding: 0;
    margin: 0 0.1rem;
}

.portions-form__button:hover {
    background-color: #0f521c;
}

.portions-form__button-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.info-ingredients__ingred-chapter {
    font-family: "Podkova Regular", sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    margin: 0.6rem 0;
}

.info-ingredients__checkboxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkboxes__label {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.checkboxes__label:hover .checkbox{
    transform: scale(1.2);

}

.checkboxes__label .checkbox {
    margin-right: 0.5rem;
}

.checkboxes__label input {
    appearance: none;
    position: absolute;
}

.checkbox {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    transition: 0.3s;
}

.checkbox:hover {
    transform: scale(1.2);
}

.checkboxes__label input:checked ~ .checkbox {
    background-image: url(../svg/check.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox__item-name {
    width: 20rem;
    border-bottom: 1px dashed #311D13;
    padding: 0.3rem 0;
}

.checkbox__item-value {
    margin-right: 0.2rem;
}

/* Шаги рецепта */
.main-recept__steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.recept-step {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 29rem;
    height: auto;
    border-radius: 1rem;
    background-color: #F6E9D6;
    padding: 2rem 3.5rem 3rem 3.5rem;
    margin-bottom: 2rem;
    box-shadow: 
    2px 2px 7px 0px rgba(0, 0, 0, 0.20), 
    10px 9px 13px 0px rgba(0, 0, 0, 0.17), 
    22px 20px 18px 0px rgba(0, 0, 0, 0.10), 
    38px 36px 21px 0px rgba(0, 0, 0, 0.03), 
    60px 56px 23px 0px rgba(0, 0, 0, 0.00);
}

.recept-step__img {
    border-radius: 1rem;
    border: 2px dashed #311D13;
}

.recept-step__title {
    font-family: "Podkova Regular", sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
}

.recept-step__desc {
    line-height: 1.7rem;
}

/* Блок взаимодействий */
.rating {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 17rem;
}

.rating__item {
    color: #CAAD7C;
    font-size: 3.5rem;
    cursor: pointer;
    transition: .2s;
}

.rating__item:hover,
.rating__item:hover ~ .rating__item {
    color: #F39F0F;
}

.rating[data-total-value="1"] .rating__item:nth-child(n + 5),
.rating[data-total-value="2"] .rating__item:nth-child(n + 4),
.rating[data-total-value="3"] .rating__item:nth-child(n + 3),
.rating[data-total-value="4"] .rating__item:nth-child(n + 2),
.rating[data-total-value="5"] .rating__item:nth-child(n + 1) {
    color: #F39F0F;
}

.main-recept__social-block {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.social-block__buttons {
    display: flex;
    justify-content: space-between;
    align-content: center;

}

.social-block__button:hover {
    background-color: #0f521c;
}

.social-block__buttons-save {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Сохранение рецепта */
.modal-save {
    display: none;
    /* position: sticky; */
    flex-direction: column;
    padding: 1.5rem; 
    top: 0;
    margin-top: 4.5rem;
}

.modal-save__head {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.modal-save__head-title {
    font-size: 2.2rem;
    font-weight: bold;
    font-family: "Podkova Regular", sans-serif;
    margin: 1rem 0 1.5rem 0 ;
}

.modal-save__head-close {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    background-color: #1D6829;
    border-radius: 100%;
    width: 3.125rem;
    height: 3.125rem;
    padding: 0;
    cursor: pointer;
}

.modal-save__head-close:hover,
.modal-save__head-close:focus {
    background-color: #0f521c;
}

.close__icon {
    width: 1.6rem;
    height: 1.6rem;
    transform: rotate(45deg);
    transform-origin: center center;
}

.modal-save__head-input {
    width: 22rem;
    height: 1.5rem;
    border-radius: 1rem;
    color: #311D13; 
    font-size: 1rem;
    padding: 1rem 1.25rem;
    background: #F2DBBA;
    margin-bottom: 0.8rem;
}

.modal-save__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 18.3rem;
    margin: 0;
    overflow-y: auto;
}

.modal-save__list::-webkit-scrollbar {
    width: 1rem;        
}

.modal-save__list::-webkit-scrollbar-track {
    background: #F6E9D6;      
}

.modal-save__list::-webkit-scrollbar-thumb {
    background-color: #837053;
    border-radius: 0.5rem;
}

.modal-save__list-item {
    margin: 0.7rem 0;
}

.modal-save__compilate {
    display: flex;
    align-items: center;
    width: 24rem;
    cursor: pointer;
    transition: 0.3s;
}

.modal-save__compilate:hover {
    background-color: #F2DBBA;
}

.modal-save__compilate-preview {
    width: 4.7rem;
    height: 4.7rem;
    background-size: cover;
    border-radius: 1rem;
    transition: 0.3s;
}

.modal-save__compilate-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: "Podkova Regular", sans-serif;
    margin-left: 0.6rem;
}

.modal-save__button {
    background: none;
    width: 24rem;
    display: flex;
    align-items: center;
    padding: 0;
}

.modal-save__button:hover {
    background-color: #F2DBBA;
}

.modal-save__button-item {
    width: 2.25rem;
    height: 2.25rem;
    padding: 1rem;
}

.modal-save__button-libel {
    color: #311D13;
    font-family: "Podkova Regular", sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    margin-left: 0.9rem;
}

.social-block__button {
    background-color: #1D6829;
    margin-left: 1rem;
}

/* Комментарии */
.footer-background {
    display: flex;
    flex-direction: column;
    background-image: url(../jpg/wood.jpg);
    background-repeat: repeat;
}

.main-recept__comments {
    display: flex;
    flex-direction: column;
    padding: 4rem 9rem 2rem 9rem;
}

.main-recept__comments-form {
    height: 17rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3rem;
    background-color: #F6E9D6;
    border-radius: 1rem;
    padding: 2rem 1.25rem 1.25rem 2.3rem;
    box-shadow: 
    2px 2px 7px 0px rgba(0, 0, 0, 0.20), 
    10px 9px 13px 0px rgba(0, 0, 0, 0.17), 
    22px 20px 18px 0px rgba(0, 0, 0, 0.10), 
    38px 36px 21px 0px rgba(0, 0, 0, 0.03), 
    60px 56px 23px 0px rgba(0, 0, 0, 0.00);
}

.comment-form {
    display: flex;
}

.comments-form__user-img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.comments-form__text {
    display: flex;
    width: 55rem;
    height: 10rem;
    border-radius: 1rem;
    color: #311D13; 
    font-size: 1.13rem;
    line-height: 1.7rem;
    padding: 1.25rem;
    background: #F6E9D6;
    border: 1px dashed #837053;
    resize: none;
}

.comments-form__send-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: #1D6829;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-left: 1.25rem;
    transition: 0.3s;
}

.comments-form__send-button:hover {
    background: #0f521c;
    animation: pulse 0.3s;
}

.comments-form__send-button-img {
    width: 1.5rem;
    height: 1.4rem;
}

.picture-form__button-img {
    margin-left: 61rem;
}

.picture-form__button-img:hover {
    animation: pulse 0.3s;
}

.comment {
    display: flex;
    flex-direction: column;
    background-color: #F6E9D6;
    border-radius: 1rem;
    padding: 2rem 4rem 3rem 2.3rem;
    margin-bottom: 2rem;
    box-shadow: 
    2px 2px 7px 0px rgba(0, 0, 0, 0.20), 
    10px 9px 13px 0px rgba(0, 0, 0, 0.17), 
    22px 20px 18px 0px rgba(0, 0, 0, 0.10), 
    38px 36px 21px 0px rgba(0, 0, 0, 0.03), 
    60px 56px 23px 0px rgba(0, 0, 0, 0.00);
}

.comment__user {
    display: flex;
    align-items: center;
    height: 3rem;
}

.comment__user-img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.comment__user-name {
    font-size: 1.6rem;
    font-family: "Podkova Regular", sans-serif;
    font-weight: bold;
    margin-left: 1.25rem;
}

.comment__content {
    display: flex;
    justify-content: space-between;
}

.comment__content-text {
    width: 30rem;
    line-height: 1.6rem;
    margin-left: 5.5rem;
}

.comment__content-img {
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    width: 25rem;
    height: 15rem;
    border-radius: 1rem;
}

.footer {
    color: #F6E9D6;
}

.container__footer {
    border-top: 3px dashed #F6E9D6;
}

@media (max-width: 68rem) {
    .main-recept {
        padding: 8rem 0 2rem 0;
    }

    .recept-step {
        display: flex;
        flex-direction: column;
        max-width: 25rem;
        max-height: 40rem;
        border-radius: 1rem;
        background-color: #F6E9D6;
        padding: 2rem 3.5rem 3rem 3.5rem;
        margin-bottom: 2rem;
    }

    .recept-step__title {
        margin-bottom: 0;
    }

    .main-recept__social-block {
        display: flex;
        justify-content: space-between;
        padding: 0 2.5rem;
    }

    .modal-save {
        margin-top: 3.3rem;
        left: -8rem;
    }

    .main-recept__comments {
        display: flex;
        flex-direction: column;
        padding: 4rem 3rem 2rem 3rem;
    }

    .main-recept__comments-form {
        height: 17rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 3rem;
        border-radius: 1rem;
        padding: 2rem 1.25rem 1.25rem 2.3rem;
    }

    .comments-form__text {
        width: 45rem;
    }

    .picture-form__button-img {
        margin-left: 51rem;
    }

    .comment__content-text {
        width: 24rem;
        line-height: 1.6rem;
        margin-left: 5.5rem;
    }
}

@media (max-width: 380px) {
    .modal-compilate {
        display: flex;
        position: fixed;
        flex-direction: column;
        overflow-y: auto;
        padding: 1.25rem;
        top: 7rem;
        transform: scale(0.9);
        transform: scale(1);
        transition: transform .8s;
    }

    .content-head__title {
        font-size: 1.5rem;
    }

    .content-head__close {
        width: 2rem;
        height: 2rem;
        margin-left: 0;
    }

    .content-head__close-icon {
        width: 1rem;
        height: 1rem;
    }

    .compilate-form__title {
        font-size: 1.2rem;
    }

    .compilate-form__name {
        width: 15rem;
        height: 1rem;
        border-radius: 1rem;
        color: #311D13; 
        font-size: 1rem;
        padding: 1rem 1.25rem;
        background: #F2DBBA;
        margin-bottom: 0.8rem;
    }

    .compilate-form__tegs {
        width: 15rem;
        height: 1rem;
        border-radius: 1rem;
        color: #311D13; 
        font-size: 1rem;
        padding: 1rem 1.25rem;
        background: #F2DBBA;
        margin-bottom: 0.8rem;
    }

    .compilate-form__button {
        font-size: 0.7rem;
        align-self: center;
        background-color: #1D6829;
        padding: 0.6rem 1.5rem;
        margin-top: 1rem;
    }

    .modal-save {
        padding: 1rem; 
        margin-top: 1.4rem;
        left: -9rem;
        z-index: 1;
    }

    .modal-save__head-title {
        font-size: 1.6rem;
        margin: 0 0 1.5rem 0;
    }

    .modal-save__head-close {
        width: 2.2rem;
        height: 2.2rem;
    }

    .close__icon {
        width: 1.2rem;
        height: 1.2rem;
    }

    .modal-save__head-input {
        width: 16rem;
        height: 1rem;
        border-radius: 1rem;
        font-size: 0.8rem;
        padding: 1rem 1.25rem;
        margin-bottom: 0.8rem;
    }

    .modal-save__list {
        height: 11.8rem;
    }

    .modal-save__list-item {
        margin: 0.4rem 0;
    }
    
    .modal-save__compilate {
        width: 17.5rem;
    }

    .modal-save__compilate-preview {
        width: 3.125rem;
        height: 3.125rem;
    }

    .modal-save__compilate-title {
        font-size: 0.9rem;
        font-weight: bold;
        font-family: "Podkova Regular", sans-serif;
        margin-left: 0.6rem;
    }

    .modal-save__button {
        width: 17.5rem;
    }

    .modal-save__button-item {
        width: 1.7rem;
        height: 1.7rem;
        padding: 0.6rem;
    }
    
    .modal-save__button-libel {
        font-size: 0.9rem;
        margin-left: 0.63rem;
    }

    .main-recept {
        display: flex;
        flex-direction: column;
        padding: 5rem 0 1rem 0;
    }

    .main-recept__preview {
        height: 16rem;
        border-radius: 0.5rem;
        overflow: hidden;
        margin-bottom: 1.5rem; 
    }
    .main-recept__preview-content {
        height: 5rem;
    }

    .preview-content__user-name {
        font-size: 0.7rem;
        margin-left: 0.5rem
    }

    .preview-content__chapter {
        display: inline-flex;
        flex-wrap: wrap;
        max-width: 15rem;
        font-size: 1rem;
    }

    .main-recept__desc {
        border-radius: 0.5rem;
        font-size: 0.7rem;
        line-height: 1rem;
        padding: 1.25rem;
        margin-bottom: 1.5rem;
    }

    .main-recept__info {
        flex-direction: column;
        border-radius: 0.5rem;
        padding: 1.7rem 2.3rem;
        margin-bottom: 2rem;
    }
    
    .info-features__list-item {
        margin: 0.2rem 0;
    }

    .list-item__name {
        font-size: 0.75rem;
        margin-left: 0.4rem;
    }

    .list-item__span {
        width: 2.7rem;
        height: 2.7rem;
    }
    
    .list-item__icon {
        width: 1.7rem;
        height: 1.7rem;
    }
    
    .list-item__name {
        font-size: 0.8rem;
        margin-left: 0.6rem;
    }
    
    .list-item__complex {
        display: flex;
        justify-content: space-between;
    }
    .list-item__complex-span {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 0.4rem;
    }
    
    .list-item__complex-icon {
        width: 0.9rem;
        height: 0.9rem;
    }

    .list-item__tegs {
        margin-top: 0.3rem;
    }

    .list-item__tegs-item {
        font-size: 0.5rem;
        border-radius: 0.5rem;
        padding: 0.3rem 0.5rem;
        margin: 0 0.3rem

    }

    .main-recept__info-ingredients {
        display: flex;
        flex-direction: column;
        width: 14.3rem;
    }
    
    .info-ingredients__portions-chapter {
        font-size: 0.75rem;
    }

    .portions-form__input {
        width: 2rem;
        height: 1.3rem;
        border-radius: 0.5rem;
        font-size: 0.75rem;
        font-weight: bold;
        padding-left: 1rem;
    }

    .portions-form__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 3rem;
    }
    
    .portions-form__button {
        width: 1.3rem;
        height: 1.3rem;
        cursor: pointer;

    }
    
    .portions-form__button-icon {
        width: 1.3rem;
        height: 1.3rem;
    }
    

    .info-ingredients__ingred-chapter {
        font-size: 0.75rem;
        margin: 0.2rem 0;
    }

    .checkbox {
        width: 1rem;
        height: 1rem;
    }
    
    .checkbox__item-name {
        width: 9.5rem;
        font-size: 0.7rem;
        border-bottom: 1px dashed #311D13;
        padding: 0.2rem 0;
    }

    .checkbox__item-value {
        font-size: 0.7rem;
        margin-right: 0.2rem;
    }

    .checkbox__item-value-type {
        font-size: 0.7rem;
    }

    .recept-step {
        width: 20rem;
        height: auto;
        border-radius: 0.5rem;
        padding: 1.6rem 1.3rem;
        margin-bottom: 2rem
    }

    .recept-step__img {
        height: 11rem;
        border-radius: 0.5rem;
        border: 2px dashed #311D13;
    }

    .recept-step__title {
        font-size: 1rem;    
    }

    .recept-step__desc {
        font-size: 0.7rem;
        line-height: 1.1rem;
    }

    .rating {
        width: 5rem;
        margin-left: 3rem;
    }

    .rating__item {
        font-size: 1.5rem;
        cursor: pointer;
        transition: .2s;
    }

    .main-recept__social-block {
        padding: 0;
        margin-right: 1.25rem;
    }

    .social-block__button {
        padding: 0.5rem 0.7rem;
        font-size: 0.4rem;
    }

    .main-recept__comments {
        display: flex;
        flex-direction: column;
        padding: 1.25rem 1.25rem 0 1.25rem;
    }

    .main-recept__comments-form {
        height: auto;
        margin-bottom: 2rem;
        background-color: #F6E9D6;
        border-radius: 0.5rem;
        padding: 1rem;
    }

    .comments-form__user {
        margin-bottom: 0.5rem;
    }

    .comment-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .comments-form__text {
        width: 11rem;
        height: 10rem;
        border-radius: 0.5rem;
        font-size: 0.7rem;
        line-height: 1.1rem;
        padding: 0.6rem;
    }

    .comments-form__send-button {
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin-left: 0.5rem;
    }

    .comments-form__send-button-img {
        width: 1.1rem;
        height: 1rem;
    }

    .picture-form__button-img {
        width: 2rem;
        margin-top: 0.5rem;
        margin-left: 14.5rem;
    }

    .comment {
        border-radius: 0.5rem;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .comment__user {
        height: auto;
    }

    .comment__user-name {
        font-size: 0.8rem;
        margin-left: 0.5rem;
    }

    .comment__content {
        flex-wrap: wrap;
    }

    .comment__content-text {
        font-size: 0.7rem;
        line-height: 1.1rem;
        margin: 1rem 0;
    }
}
