@import url(style.css);
@import url(first-page.css);
/* Поиск с фильтрами */
.search-menu {
    display: flex;
    height: 32rem;
    background-image: url(../jpg/wood.jpg);
    background-repeat: repeat;
}
  
.search-menu__search {
    margin-bottom: 2rem;
}
  
.search-menu__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 52rem;
    margin-top: 10rem;
    margin-left: 16.5rem;
}
  
.search-form__input-filter {
    width: 41rem;
    height: 3rem;
    border-radius: 1rem;
    color: #311D13; 
    font-size: 1.13rem;
    padding-left: 1.25rem;
    margin-right: 1.25rem;
    background: #F6E9D6;
}

.search-menu__button-find{
    background: #F39F0F;
    font-size: 1.125rem;
}

.search-menu__filter {
    margin-top: -1rem;
}
.search-menu__filter-button{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    padding: 1rem 1.5rem;
}
  
.search-menu__filter-libel {
    font-size: 1.125rem;
    margin-left: 1.2rem;
}
  
.search-menu__type {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    border-top: 3px dashed #F39F0F;
}

.search-menu__type-chapter {
    color:#F6E9D6;
    font-size: 1.6rem;
    font-family: "Podkova Regular", sans-serif;
    margin-bottom: 0;
}

/* Типы материала */
.search-menu__parameters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.search-menu__materials {
    display: flex;
    width: 29rem;
    padding: 0;
    justify-content: space-between;
}

.search-menu__button-material {
    background:#F6E9D6;
    color:#311D13;
    font-family: "Fira Sans Regular";
    font-size: 1.125rem;
    padding: 0.6rem 1.3rem;
}

/* main */
.main-search{
    display: flex;
    flex-direction: column;
    padding: 2rem 8rem;
}

/*Блоки контента*/
.main-search__content{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.main-search__content article{
    margin: 1.5rem 0;
}

.main-search__pagination {
    display: flex;
    justify-content: center;
}

.main-search__pagination-list {
    display: flex;
    justify-content: space-between;
    width: 30rem;
    padding: 0;
}

/* Пагинация */
.pagination-list__page {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: #1D6829;
    border-radius: 1rem;
}

.pagination-list__item {
    color: #FFF;
    font-size: 1.5rem;
    padding: 0.5rem 1.1rem;
}

.pagination-list__arrow {
    display: flex;
    width: 3rem;
    height: 3rem;
    background: #655132;
    border-radius: 1rem;
}

.pagination-list__item-arrow  {
    padding: 0.8rem;
}

.pagination-list__item-img {
    width: 1.5rem;
    height: 1.4rem;
}

@media (max-width: 68rem) {
    .search-menu__content {
        width: 50rem;
        margin-top: 7.25rem;
        margin-left: 9rem;
    }

    .search-form__input-filter {
        height: 3rem;
    }
    .search-menu__filter {
        margin-top: -0.5rem;
    }
    .main-search{
        padding: 1rem 3rem;
    }
}

@media (max-width: 20rem) {
    .search-menu {
        height: 17rem;
    }

    .search-menu__content {
        width: 17.5rem;
        margin-top: 4.5rem;
        margin-left: 1.25rem;
    }

    .search-form__input-filter {
        width: 13.7rem;
        height: 1.6rem;
        border-radius: 0.5rem;
        font-size: 0.5rem;
        padding-left: 0.6rem;
        margin-right: 0.2rem;
    }

    .search-menu__button-find {
        font-size: 0.5rem;
        padding: 0.5rem 0.7rem;
    }
    
    .search-menu__filter {
        margin-top: -1.3rem;
    }

    .search-menu__filter-button {
        padding: 0.4rem 0.75rem;
        margin-bottom: em;
    }

    .search-menu__filter-item {
        width: 0.8rem;
        height: 0.8rem;
    }

    .search-menu__filter-libel {
        font-size: 0.5rem;
        margin-left: 0.6rem;
    }

    .search-menu__type {
        margin-top: 0.6rem;
    }

    .search-menu__type-chapter {
        font-size: 1rem;
        font-family: "Podkova Regular", sans-serif;
        margin-top: 0.5rem;
        margin-bottom: 0;
    }

    .search-menu__materials {
        max-width: 17.5rem;
    }

    .search-menu__button-material {
        font-size: 0.5rem;
        padding: 0.4rem 1rem;
    }

    .main-search{
        padding: 1rem 1.25rem;
    }

    .main-search__content article{
        margin: 0.5rem 0;
    }

    .pagination-list__page {
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 0.5rem;
    }

    .pagination-list__item {
        color: #FFF;
        font-size: 0.8rem;
        padding: 0.8rem 0.7rem;
    }

    .pagination-list__arrow {
        width: 1.8rem;
        height: 1.8rem;
        background: #655132;
        border-radius: 0.5rem;
        /* padding: 0.4rem; */
    }
    .pagination-list__item-arrow  {
        padding: 0.4rem;
    }
    .pagination-list__item-img {
        width: 1rem;
        height: 1.1rem;
    }
}