@import url(font.css);
@import url(normalize.css);
@import url(base.css);

/*То что поверх всего*/
.eat-power{
  position: absolute;
  right: 20rem;
  left: 60rem;
  z-index: 1;
}
/*Шапка*/
.container__header {
  height: 5rem;
  display:flex;
  justify-content: space-between;
  align-items: center;  
  padding: 0 8rem; 
}

.header{
  width: 90rem;
  position: fixed;
  background: rgba(0, 0, 0, 0.53);
  border-bottom: 0.2rem dashed #F6E9D6;
}

.header__logo {
  width: 4rem;
  height: 3.25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.search-form__content{
  display: flex;
  align-items: center;
}

.search-form__input {
  width: 41rem;
  height: 3rem;
  border-radius: 1rem;
  color: #311D13; 
  font-size: 1.13rem;
  padding-left: 1.25rem;
  margin-right: 1.25rem;
  background: #F6E9D6;
}

.header__nav-list {
  display: flex; 
}

.header__nav-item {
  padding: 0 1rem;
}

.header__nav-item-img {
  width:
}

/*Привествие*/

.hello {
  display: flex;
  height: 40rem;
  background-image: url(../jpg/borstch_pc.jpg);
}

.hello__content{
  display: flex;
  flex-direction: column;
  width: 37rem;
  height: 17rem;
  /* margin:  */
  margin: 10% 0 0 8rem;
}

.hello__site-name{
  color:#F6E9D6;
  font-size: 4rem;
  margin: 0;
}

.hello__welcome{
  color:#F6E9D6;
  font-size: 2.5rem;
  font-family: "Podkova Regular", sans-serif;
  margin: 0;
}

.hello__desc{
  color:#F6E9D6;
  font-size: 1.5rem;
  word-wrap: break-word;
  font-family: "Podkova Regular", sans-serif;
  margin: 0;
}

.hello__desc-b{
  color: #F39F0F;
  text-decoration: underline;
}

/*Кнопки*/
.hello__buttons{
  display: flex;
  justify-content: space-between;
  width: 32rem;
  height: 4rem;
  margin-top: 4rem;
}

.hello-button{
  background: #F39F0F;
}

.main-first-button{
  background: #1D6829;
  margin: 0 9rem;
}


/*main*/
.main-first{
  display: flex;
  flex-direction: column;
  padding: 2rem 8rem;
}


.main-first__chapter{
  font-size: 2.5rem;
}

.main-first__nav {
  display: flex;
  flex-wrap: wrap;
  width:auto;
}

.main-first__nav-list{
  display: flex;
  height: auto;
  padding: 0;
}            

.main-first__nav-item{
  font-family: "Podkova Regular", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0 1.25rem;
  color:#311D13;
  border-left: 1px dashed #311D13;
  border-right: 1px dashed #311D13;
}

/*Блоки контента*/

.main-first__content{
  display:flex;
  margin-top: 3rem;
  flex-wrap:wrap;
  justify-content: space-between;
}

.main-first__content article{
  margin: 1.5rem 0;
}

.recipe-modul {
  display: flex;
  width: 17rem; 
  height: 18rem;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.compil-modul {
  display: flex;
  width: 34rem; 
  height: 18rem;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.recipe-module__image {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.compil-module__image {
  position: absolute;
  background-size: cover;
  width: 24rem;
  height: 18rem;
  z-index: -2;
}

.comil-module__image-2 {
  position: absolute;
  background-size: cover;
  width: 13rem;
  height: 9rem;
  left: 24rem;
  z-index: -2;
}

.comil-module__image-3 {
  position: absolute;
  background-size: cover;
  width: 13rem;
  height: 9rem;
  left: 24rem;
  bottom: 9rem;
  z-index: -2;
}

.recipe-module__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#00000000, #000000);
  z-index: -1;
}

.recipe-module__content {
  width: auto;
  height: 7rem;
  color:white;
  padding: 1.25rem;
}

.recipe-block__tegs {
  display: flex;
  padding: 0;
}

.recipe-block__tegs-item {
  font-family: "Podkova Regular", sans-serif;
  font-size: 0.87rem;
  margin: 0 0.2rem;
}

.recipe-block__tegs-a {
  color:white;
}

.recipe-block__chapter {
  width: 21rem;
  height: auto;
  vertical-align: top;
  font-size: 1.25rem;
  margin: 0;
}

.recipe-block__user {
  font-size: 0.75rem;
}

.main-first__buttons {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

/* Футер */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 84%;
  /* height: 8rem; */
  border-top: 3px dashed #311D13;
  padding: 1rem 0;
  
}

.footer__info-item {
  font-size: 1.25rem;
  padding-bottom: 0.2rem;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  margin-top: 0rem;
}

.footer__social {
  display: flex;
}

.footer__social-item {
  width: 3.5rem;
  height: 3.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 0.5rem;
}

/* Поиск с фильтрами */

.search-menu {
  display: flex;
  /* justify-content: space-between; */
  width: 90rem;
  height: 32rem;
  background-image: url(../jpg/wood.jpg);
  background-repeat: repeat;
}

.search-menu__search {
  margin-bottom: 2rem;
}

.search-menu__content {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  flex-direction: column;
  width: 52rem;
  margin-top: 10rem;
  margin-left: 14.7rem;
}

.search-menu__button-find{
  height: 3.2rem;
  font-size: 1.125rem;
  /* width: 8rem;
   */
  background: #F39F0F;
}

.search-menu__buttons{
  background: #F39F0F;
  /* margin: 0 9rem; */
} 

.search-menu__filter-button{
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 1rem 1.5rem;
}

.search-menu__filter-libel {
  margin-left: 1.2rem;
}

.search-menu__type {
  display: flex;
  flex-direction: column;
  height: 8rem;
  margin-top: 3rem;
  border-top: 3px dashed #F39F0F;
}

.search-menu__type-chapter {
  color:#F6E9D6;
  font-size: 1.6rem;
  font-family: "Podkova Regular", sans-serif;
}

@media (max-width: 68rem) {
  
  .header{
    width: 67.5rem;
  }
  .container__header {
    height: 4.5rem;
    padding: 0 3rem; 
  }
  .header__logo {
    width: 3rem;
    height: 2.3rem;
  }
  .search-form__input {
    width: 33rem;
    height: 2.5rem;
  }

  .search-form__button {
    width: 2rem;
    height: 2rem;
  }

  .hello {
    display: flex;
    height: 26.5rem;
    background-image: url(../png/borstch_pad.png);
  }

  .hello__content{
    width: 26rem;
    height: 13rem;
    margin: 6rem 0 0 3rem;
  }
  .hello__site-name{
    font-size: 3rem;
  }

  .hello__welcome{
    color:#F6E9D6;
    font-size: 1.6rem;
  }

  .hello__desc{
    font-size: 1.125rem;
  }

  .hello__buttons{
    display: flex;
    justify-content: space-between;
    width: 22rem;
    height: 3rem;
    margin-top: 2.5rem;
  }

  .main-first{
    padding: 1rem 3rem;
  }

  .main-first__chapter{
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .main-first__nav-item{
    font-size: 1rem;
    border-left: 1px dashed #311D13;
    border-right: 1px dashed #311D13;
  }

  .main-first__content{
    display:flex;
    margin-top: 3rem;
    flex-wrap:wrap;
    justify-content: space-between;
  }

  .main-first__content{
    margin-top: 1rem;
  }

  .recipe-modul {
    width: 14rem; 
    height: 15rem;
  }

  .compil-modul {
    width: 28rem; 
    height: 15rem;
  }

  .compil-module__image {
    width: 20rem;
    height: 15rem;
  }
  
  .comil-module__image-2 {
    position: absolute;
    background-size: cover;
    width: 10rem;
    height: 7.5rem;
    left: 20rem;
    z-index: -2;
  }
  
  .comil-module__image-3 {
    position: absolute;
    background-size: cover;
    width: 10rem;
    height: 7.5rem;
    left: 20rem;
    bottom: 7.5rem;
    z-index: -2;
  }

  .recipe-module__content {
    width: auto;
    height: 5rem;
    color:white;
  }

  .recipe-block__tegs {
    display: flex;
    padding: 0;
    margin: 0;
  }

  .recipe-block__tegs-item {
    font-family: "Podkova Regular", sans-serif;
    font-size: 0.6rem;
    margin: 0 0.2rem;
  }
  .recipe-block__chapter {
    width: 12rem;
    font-size: 1.125rem;
  }

  .main-first__buttons {
    margin: 1rem 0;
  }

  .container__footer {
    width: 90%;
  }
  
  .footer__copyright {
    font-size: 1.25rem;
  }
}

@media (max-width: 20rem) {
  .container {
    width: 20rem;
  }

  button {
    font-size: 0.3rem;
    padding: 0.4rem 1.3rem;
  }
  .header{
    width: 20rem;
  }
  .container__header {
    height: 4.5rem;
    padding: 0 1.25rem; 
  }
  .header__logo {
    width: 2.5rem;
    height: 2.5rem;
  }
  .search-form__input {
    display: none;
  }

  .search-form__button {
    width: 2rem;
    height: 2rem;
  }

  .header__nav-item {
    /* display: none; */
    width: 1.8rem;
    height: 1.8rem;
  }

  .hello {
    display: flex;
    height: 14rem;
    background-image: url(../png/borstch_mob.png);
  }

  /* .hello__content{
    width: 26rem;
    height: 13rem;
    margin: 6rem 0 0 3rem;
  } */
  .hello__site-name{
    font-size: 3rem;
  }

  .hello__welcome{
    color:#F6E9D6;
    font-size: 1.6rem;
  }

  .hello__desc{
    font-size: 1.125rem;
  }

  .hello__buttons{
    display: flex;
    justify-content: space-between;
    width: 22rem;
    height: 3rem;
    margin-top: 2.5rem;
  }

  .main-first{
    padding: 1rem 3rem;
  }

  .main-first__chapter{
    font-size: 2rem;
    margin-bottom: 1.4rem;
  }

  .main-first__nav-item{
    font-size: 1rem;
    border-left: 1px dashed #311D13;
    border-right: 1px dashed #311D13;
  }

  .main-first__content{
    display:flex;
    margin-top: 3rem;
    flex-wrap:wrap;
    justify-content: space-between;
  }

  .main-first__content{
    margin-top: 1rem;
  }

  .recipe-modul {
    width: 14rem; 
    height: 15rem;
  }

  .compil-modul {
    width: 28rem; 
    height: 15rem;
  }

  .compil-module__image {
    width: 20rem;
    height: 15rem;
  }
  
  .comil-module__image-2 {
    position: absolute;
    background-size: cover;
    width: 10rem;
    height: 7.5rem;
    left: 20rem;
    z-index: -2;
  }
  
  .comil-module__image-3 {
    position: absolute;
    background-size: cover;
    width: 10rem;
    height: 7.5rem;
    left: 20rem;
    bottom: 7.5rem;
    z-index: -2;
  }

  .recipe-module__content {
    width: auto;
    height: 5rem;
    color:white;
  }

  .recipe-block__tegs {
    display: flex;
    padding: 0;
    margin: 0;
  }

  .recipe-block__tegs-item {
    font-family: "Podkova Regular", sans-serif;
    font-size: 0.6rem;
    margin: 0 0.2rem;
  }
  .recipe-block__chapter {
    width: 12rem;
    font-size: 1.125rem;
  }

  .main-first__buttons {
    margin: 1rem 0;
  }

  .container__footer {
    width: 90%;
  }
  
  .footer__copyright {
    font-size: 1.25rem;
  }
} 